- form.inputs do
  = form.input :name, :label => 'Name'
  / = form.input :properties, :label => 'Properties'
  = form.input :properties_list, :label => 'Properties'
  = form.input :date, :label => 'Date'
  = form.buttons